<div class="hero-unit">
  <h3>Admin Menu</h3>
  <p class="btn btn-default"><%= link_to  'kategory', :controller => 'kategories' %></p>
  <p class="btn btn-default"><%= link_to 'strony', :controller => 'stronas' %></p>
  <p class="btn btn-default"><%= link_to 'artykuly', :controller => 'artykuls' %></p>
  <p class="btn btn-default"><%= link_to 'galerie', :controller => 'galeries' %></p>
  <p class="btn btn-default"><%= link_to 'zdjecie', :controller => 'zdjecies' %></p>
  <p class="btn btn-default"><%= link_to 'Uzytkownicy', :controller =>'uzytkowniks' %></p>
  <p class="btn btn-default"><%= link_to 'Wyloguj', :action => 'logout' %></p>
</div>