<h1>Moja strona testowa</h1>


<p><%= link_to 'kategory', :controller => 'kategories' %></p>
<p><%= link_to 'strony', :controller => 'stronas' %></p>

<p>
  <%= @testowa %>
</p>



<p>
  <% @imiona.each do |imie| %>
    <%= "Witaj #{imie.capitalize} w kursie Ruby on Rails!" %>
      <br>
      <hr>
      <% end %>
</p>


<p>
  Parametr Id= <%= @id  %>
</p>

  <hr>
    <%= params.inspect %>
  <hr>