<%= blad(@artykuly) %>

<table class="table table-striped">
  <tr>
    <th><%= pole.label(:strona_id, "Strona") %></th>
    <th><%= pole.select(:strona_id, @strona.map{|t| [t.nazwa, t.id]}, :class => 'form-control') %></th>
  </tr>
  <tr>
    <th><%= pole.label(:nazwa) %></th>
    <th><%= pole.text_field(:nazwa, :class => 'form-control') %></th>
  </tr>
  <tr>
    <th><%= pole.label(:pozycja) %></th>
    <th><%= pole.select(:pozycja, 1..@licznik, :class => 'form-control') %></th>
  </tr>
  <tr>
    <th><%= pole.label(:widoczny, "Czy jest widoczny") %></th>
    <th><%= pole.check_box(:widoczny) %></th>
  </tr>
<%  if !@artykuly.zdjecie.blank? %>
  <tr>
    <th>Zdjecie</th>
    <th><%= image_tag(@artykuly.zdjecie) %></th>
  </tr>
<% end %>

  <tr>
    <th><%= pole.label(:created_at, "Utworzony") %></th>
    <th><%= pole.datetime_select(:created_at, :class => 'form-control') %></th>
  </tr>
  <tr>
    <th><%= pole.label(:zawartosc) %></th>
    <th><%= pole.text_area(:zawartosc, :class => 'form-control') %></th>
  </tr>

</table>


