<div class="hero-unit">


  <%= link_to '<< Powrot do strony', {:controller => 'stronas', :action => 'index', :kategoria_id => @strony.kategorie.id }, :class => 'btn btn-xs btn-default' %>


  <h1>Artykuly</h1>

  <%= link_to 'Dodaj nowy artykul', {:action => 'nowy' }, :class => 'btn btn-mini btn-primary' %>

  <p style="text-align: right;">Ilosć artykulow: <%= @artykuly.size %> </p>


  <table class="table table-striped">
    <tr class="info">
      <th>Pozycja</th>
      <th>Strona</th>
      <th>Tytul artykulu</th>
      <th>Widoczny</th>
      <th>Akcja</th>
    </tr>
    <% @artykuly.each do |artykul| %>
        <tr>
          <td><%= artykul.pozycja %></td>
          <td><%= artykul.strona.nazwa %></td>
          <td><%= artykul.nazwa %></td>
          <td class="center"><%= status_widoku(artykul.widoczny) %></td>
          <td class="actions">
            <%= link_to "Show", {:action => 'pokaż', :id => artykul.id, :strona_id => @strony.id }, :class=> 'label label-default' %>
            <%= link_to "Edit",  {:action => 'edycja', :id => artykul.id, :strona_id => @strony.id}, :class=> 'label label-primary' %>
            <%= link_to "Delete",  {:action => 'usun', :id => artykul.id, :strona_id => @strony.id}, :class=> 'label label-danger'%>
          </td>
        </tr>

    <% end %>

  </table>

</div>