<div class="hero-unit">
  <h1>Kategorie</h1>

  <%= link_to 'Dodaj nowa kategorie', {:action=> 'nowa' }, :class => 'btn btn-mini btn-primary' %>

  <p style="text-align: right;">Ilosć kategorii: <%= @kategorie.size %> </p>


  <table class="table table-striped">
    <tr class="info">
      <th>Pozycja</th>
      <th>Nazwa kategorii</th>
      <th>Widoczna</th>
      <th>Strony</th>
      <th>Akcja</th>
    </tr>
    <% @kategorie.each do |kategoria| %>
        <tr>
          <td><%= kategoria.pozycja %></td>
          <td><%= kategoria.nazwa %></td>
          <td class="center"><%= status_widoku(kategoria.widoczna) %></td>
          <td class="center"><%= kategoria.stronas.size %></td>
          <td class="actions">
            <%= link_to "Show", {:action => 'pokaż', :id => kategoria.id}, :class=> 'label label-default' %>
            <%= link_to "Edit",  {:action => 'edycja', :id => kategoria.id}, :class=> 'label label-primary' %>
            <%= link_to "Delete",  {:action => 'usun', :id => kategoria.id}, :class=> 'label label-danger'%>
          </td>
        </tr>

    <% end %>

  </table>

</div>