<!DOCTYPE html>
<html>
<head>
  <title>GalleryCourse II</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- glowna -->
<div class="container">
  <% if !flash[:notice].blank? %>
      <div class="alert alert-success" style="text-align: center;" >
        <%= flash[:notice] %>
      </div>

  <% end %>
</div>

<%= yield %>


<p><%= link_to 'Back to vievs test', :controller => "test" %></p>
<p><%= link_to 'Back to menu admin', :controller => "dosteps" %></p>




<!-- stopka -->
    <div id="foother">
      <div class="container">
        <p class="text-muted">
          Tomaszo 2015 &copy; <a href="www.google.com" target="_blank">http://www.google.com</a>

        </p>

      </div>

    </div>

</body>
</html>
