<!DOCTYPE html>
<html>
<head>
  <title>Serwis Szkolenia <%= " | #{@tytul_strony}" if @tytul_strony %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- nawigacja począte -->
<%= render(:partial => "menu") %>
<!-- nawigacja koniec -->





<!-- tresc strony początek -->
<div id="content">
    <%= yield %>
</div>
<!-- tresc strony koniec -->



<!-- stopka początek -->
    <div id="footer">
      <br>TomaszDebeb 2016 &copy; <a href="http://www.google.pl" target="_blank">http://www.google.pl</a>
    </div>
<!-- stopka koniec -->

</body>
</html>
